* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins";
  margin: 0;
}

.desktop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/img/background-image-px.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.desktop-area .desktop-area-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  transform: scale(0.7);

  max-width: 100%;
  height: auto;
}

